<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title> Queue Management </title>
<!--<script src="js/app/jquery-1.9.1.js"></script>
<script src="js/app/jquery-ui.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
div#ciao {
  padding: 70px;
  border: 1px solid #4CAF50;
}
h1{
text-align:center;
}

</style>
</head>


<body ng-app="demo">

<div id="ciao">
<div class="page-header">
  <h1>Request Queue Management </h1>
   <br>
</div>

<div class="jumbotron" ng-controller="HomeController as ctrl">
  <h2>Book a ticket</h2>
  <br>
  <!--<form action="ticketInfo.html">-->
		<form ng-submit="newTicket()">
			<div class="form-group">
			<label for="requestType"><b>Request Type</b></label>
				<!-- name="exampleRadios" -->
				<div class="form-check">
				<input class="form-check-input" type="radio" ng-model="ticketDto.requesttype" id="exampleRadios1" value="shipping">
				<label class="form-check-label" for="exampleRadios1">
					Shipping - <small> Service Time: 15 min</small>
				</label>
				</div>
				<div class="form-check">
				<input class="form-check-input" type="radio" ng-model="ticketDto.requesttype"  id="exampleRadios2" value="accountMng">
				<label class="form-check-label" for="exampleRadios2">
					Account Management -<small>  Service Time: 30 min</small>
				</label>
				</div>
				<div class="form-check">
				<input class="form-check-input" type="radio" ng-model="ticketDto.requesttype"  id="exampleRadios3" value="feesPayment" >
				<label class="form-check-label" for="exampleRadios3">
					Pay fees - <small> Service Time: 15 min</small>
				</label>
				</div>
				<div class="form-check">
				<input class="form-check-input" type="radio" ng-model="ticketDto.requesttype"  id="exampleRadios4" value="finesPayment" >
				<label class="form-check-label" for="exampleRadios4">
					Pay fines - <small> Service Time: 15 min</small>
				</label>
				</div>
				
			
				
			</div>
			
			<button type="submit" data-toggle="modal" data-target="#ticketInfoModal" class="btn btn-success btn-lg">Book</button>
				
		</form>

	<!-- Modal -->
	<div class="modal fade" id="ticketInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"> Ticket created successfully
						<br></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<table class="table">

						<tbody>
						<tr>
							<th scope="row">Ticket Number</th>
							<td ng-bind="ticketDto.nInLine"> ???? </td>

						</tr>
						<tr>
							<th scope="row">Request Type</th>
							<td ng-bind="ticketDto.requesttype"> ???? </td>

						</tr>
						<tr>
							<th scope="row">Estimated Waiting Time</th>
							<td ng-bind="ticketDto.waitingtime"> ???? </td>

						</tr>
						<tr>
							<th scope="row"> Date and Hour </th>
							<td ng-bind="ticketDto.timestamp"> ???? </td>

						</tr>
						</tbody>

					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<!--</form>-->
 
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/HomeController.js"></script>
<script src="js/app/HomeService.js"></script>
</body>
</html>